# Github repositories
# malariasimulation: https://rdrr.io/github/mrc-ide/malariasimulation/ 
# Umbrella: https://mrc-ide.github.io/umbrella/index.html
# malariaEquilibium: https://github.com/mrc-ide/malariaEquilibrium

#R packages are listed below (for R >= 4.2.3)
# Using R v4.4.0

install.packages("devtools")
devtools::install_github('mrc-ide/malariasimulation@v2.0.0')
devtools::install_github("mrc-ide/umbrella")
devtools::install_github("mrc-ide/malariaEquilibrium")

# Other R packages
install.packages("tibble")
install.packages("dplyr")
install.packages("readr")
install.packages("argparser")
install.packages("base")
install.packages("utils")



